#!/bin/bash

# Better dnf config
{{ if eq .chezmoi.osRelease.id "fedora" -}}
sudo tee /etc/dnf/dnf.conf <<-EOF
	[main]
	gpgcheck=1
	installonly_limit=3
	clean_requirements_on_remove=True
	best=False
	skip_if_unavailable=True
	max_parallel_downloads=10
	defaultyes=True
	deltarpm=True
EOF

{{ if eq .chezmoi.osRelease.variantID "workstation" -}}
# Install RPM Fusion
sudo dnf install https://mirrors.rpmfusion.org/free/fedora/rpmfusion-free-release-$(rpm -E %fedora).noarch.rpm -y
sudo dnf install https://mirrors.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-$(rpm -E %fedora).noarch.rpm -y
sudo dnf install rpmfusion-free-release-tainted dnf-plugins-core -y

# Install development tools
sudo dnf install -y @development-tools @virtualization \
	golang rust cargo htop zsh unar git  git-lfs openssl curl dnf-automatic \
	flatpak lsd fd-find ripgrep fzf tldr ncdu wl-clipboard lm_sensors \
	gnome-tweaks lutris gamescope steam-devices yt-dlp upx \
	ulauncher dconf-editor papirus-icon-theme wireguard-tools clang \
	clang-tools-extra python3-devel kernel-devel kernel-headers zoxide \
	python3-pip age neovim python3-neovim shellcheck

# Add flathub
flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
flatpak install --noninteractive flathub com.github.tchx84.Flatseal \
	tv.plex.PlexDesktop io.beekeeperstudio.Studio com.bitwarden.desktop \
	com.valvesoftware.Steam org.qbittorrent.qBittorrent org.gimp.GIMP \
	com.mattjakeman.ExtensionManager org.signal.Signal it.mijorus.gearlever
{{ end -}}
{{ end -}}
