#!/bin/bash

{{ if eq .chezmoi.osRelease.id "fedora" -}}

# Better dnf config
sudo tee /etc/dnf/dnf.conf <<-EOF
[main]
gpgcheck=1
installonly_limit=3
clean_requirements_on_remove=True
best=False
skip_if_unavailable=True
keepcache=False
countme=True
max_parallel_downloads=10
defaultyes=True
metadata_expire=48h
EOF

# Better docker config
if command -v nvidia-smi >/dev/null && command -v nvidia-container-runtime >/dev/null; then
    sudo tee /etc/docker/daemon.json <<-EOF
{
  "log-driver": "json-file",
  "log-opts": {
    "max-file": "3",
    "max-size": "10m"
  },
  "default-runtime": "nvidia",
  "runtimes": {
    "nvidia": {
      "args": [],
      "path": "nvidia-container-runtime"
    }
  }
}
EOF
else
    sudo tee /etc/docker/daemon.json <<-EOF
{
  "log-driver": "json-file",
  "log-opts": {
    "max-file": "3",
    "max-size": "10m"
  }
}
EOF
fi

{{ if eq .chezmoi.osRelease.variantID "workstation" -}}
# Install RPM Fusion & Terra
sudo dnf install https://mirrors.rpmfusion.org/free/fedora/rpmfusion-free-release-$(rpm -E %fedora).noarch.rpm -y
sudo dnf install https://mirrors.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-$(rpm -E %fedora).noarch.rpm -y
sudo dnf install rpmfusion-free-release-tainted dnf-plugins-core -y
sudo dnf install --nogpgcheck --repofrompath 'terra,https://repos.fyralabs.com/terra$releasever' terra-release -y

# Install development tools
sudo dnf install -y @development-tools @virtualization \
    golang rust cargo htop zsh unar git git-lfs openssl curl dnf-automatic \
    flatpak lsd fd-find ripgrep fzf tldr ncdu wl-clipboard lm_sensors \
    gnome-tweaks lutris gamescope duf steam-devices yt-dlp jq upx fastfetch \
    ulauncher dconf-editor papirus-icon-theme wireguard-tools clang xz-devel \
    clang-tools-extra python3-devel kernel-devel kernel-headers zoxide \
    python3-pip python3-virtualenv age neovim python3-neovim shellcheck \
    codespell ansible ansible-lint

# Add flathub
flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
flatpak install --noninteractive flathub com.github.tchx84.Flatseal \
    tv.plex.PlexDesktop io.beekeeperstudio.Studio com.bitwarden.desktop \
    com.valvesoftware.Steam org.qbittorrent.qBittorrent org.gimp.GIMP \
    com.mattjakeman.ExtensionManager org.signal.Signal it.mijorus.gearlever
{{ end -}}

{{ if eq .chezmoi.osRelease.variantID "server" -}}
sudo dnf install -y dnf-automatic dnf-plugins-core htop zsh unar git git-lfs \
    openssl curl lsd fd-find ripgrep fzf tldr ncdu zoxide jq lm_sensors age \
    duf neovim python3-neovim anacron rsnapshot tuned udisks2-btrfs nfs-utils \
    fastfetch

# Add docker
sudo dnf config-manager --add-repo https://download.docker.com/linux/fedora/docker-ce.repo
sudo dnf install docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin

{{ end -}}
{{ end -}}
